@-webkit-keyframes pulse {
    0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
    50% { box-shadow:0 0 16px #ea4c89, inset 0 0 14px #ea4c89; }
    100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
}

.inner_success{
    background-color:transparent;
    width:280px;
    height:280px;
    border-radius:222px;
    box-shadow: 0 0 8px rgb(8, 206, 48), inset 0 0 8px rgb(41, 196, 3);
    -webkit-animation: pulse 2s linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
  .inner_success span {
    display:block;
    text-align: center;
    font-family:sans-serif;
    font-weight:600;
    font-size:16px;
    color: rgb(0, 185, 123);
    text-shadow: 0 0 4px rgb(11, 219, 115);
  }


.inner_revision{
    background-color:transparent;
    width:260px;
    height:260px;
    border-radius:222px;
    box-shadow: 0 0 8px rgb(255, 151, 5), inset 0 0 8px rgb(255, 169, 9);
    -webkit-animation: pulse 2s linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
  .inner_revision span {
    display:block;
    text-align: center;
    font-family:sans-serif;
    font-weight:600;
    font-size:16px;
    color: rgb(221, 137, 12);
    text-shadow: 0 0 4px rgb(255, 170, 42);
  }


  .inner_observaciones{
    background-color:transparent;
    width:280px;
    height:280px;
    border-radius:222px;
    box-shadow: 0 0 8px rgb(54, 138, 255), inset 0 0 8px rgb(54, 138, 255);
    -webkit-animation: pulse 2s linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
  .inner_observaciones span {
    display:block;
    text-align: center;
    font-family:sans-serif;
    font-weight:600;
    font-size:16px;
    color: rgb(0, 148, 246);
    text-shadow: 0 0 4px rgb(54, 138, 255);
  }


  .inner_noAceptado{
    background-color:transparent;
    width:280px;
    height:280px;
    border-radius:222px;
    box-shadow: 0 0 8px rgb(230, 35, 67), inset 0 0 8px rgb(185, 29, 71);
    -webkit-animation: pulse 2s linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
  .inner_noAceptado span {
    display:block;
    text-align: center;
    font-family:sans-serif;
    font-weight:600;
    font-size:16px;
    color: rgb(100, 13, 35);
    text-shadow: 0 0 4px rgb(201, 64, 80);
  }
