    @media (min-width: 400px) and (max-width: 800px) {
        .chatBotContainer {
            width: 100% !important;
            height: 90% !important;
            max-width: 1600px !important;
            max-height: 900px !important;
        }
        img {
            width: 6%;
        }
    }

    @media (min-width: 200px) and (max-width: 399px) {
        .chatBotContainer {
            width: 100% !important;
            height: 90% !important;
            max-width: 1600px !important;
            max-height: 900px !important;
        }
        img {
            width: 4%;
        }
    }
